
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Content</title>
</head>
  <div class="abovetopnav">Learning Management System</div> 
  <div class="topnav"><a class="logo" href="http://ccse.kennesaw.edu/it">
      <img src="assets/ksu-wings.jpg" alt="KSU IT" height="75px" width="150px"></a>
    <a href="./addContent">Add Content</a>
    <a href="./listContents">List Content</a>
    <a href="./addAnnouncement">Add Announcement</a>
    <a href="./listAnnouncements">List Announcements</a>
    <a href="./addAssignments">Add Assignment</a>
    <a href="./listAssignments">List Assignments</a>
  </div>
  <div class="belowtopnav"></div>

  
  <!-- 
    <app-navigation-menu></app-navigation-menu>
    <app-content></app-content> 
    <a href="index.html">Home</a>
    <a href="./assignments/assignments.component.html">Assignments</a>
    <a href="./announcements/announcements.component.html">Announcements</a>

  -->
<br>


<router-outlet></router-outlet>
<br>
<br>
<app-video-search></app-video-search>

